<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>

    <div class="dashboard-container">
        <!-- Add this part to display flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Add IP Mapping Form -->
        <div class="dashboard-header">
            <h2>IP Management</h2>
        </div>
        <div class="add-ip-form">
            <h3>Add IP Mapping</h3>
            <form method="post" action="{{ url_for('admin.ip_management') }}">
                {{ add_ip_form.hidden_tag() }}
                <p>
                    {{ add_ip_form.ip_address.label }}<br>
                    {{ add_ip_form.ip_address(size=10) }}
                </p>
                <p>
                    {{ add_ip_form.location_name.label }}<br>
                    {{ add_ip_form.location_name(size=15) }}
                </p>
                <p>{{ add_ip_form.submit() }}</p>
            </form>
        </div>
        <div>
            <h3>Delete IP Mapping</h3>

            <ul class="ip-list">
                {% for ip_mapping in ip_mappings %}
                <li>
                    <span>{{ ip_mapping.ip_address }} - {{ ip_mapping.location_name }}</span>
                    <form method="post" action="{{ url_for('admin.remove_ip_mapping', ip_id=ip_mapping.id) }}">
                            {{ remove_ip_form.hidden_tag() }}
                        <input type="hidden" name="ip_id" value="{{ ip_mapping.id }}">
                        <button type="submit" class="buttonsignout">Delete</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        <br><br><br>
        <div class="button-container">
            <!-- Back Button -->
            <a href="{{ url_for('admin.admin_dashboard') }}" class="button">Back</a>
            <!-- Logout Button -->
            <div>
                <form action="{{ url_for('auth.logout') }}" method="post">
                    {{ logout_form.hidden_tag() }}
                    <button type="submit" class="buttonsignout">Logout</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>