<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Location Name</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <div class="dashboard-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="dashboard-header">
            <div class="dashboard-header-signin">
                <h2>Custom Location Name</h2>
            </div>
            <div class="current-ip">
                <h3>Your Current IP: {{ user_ip }}</h3>
            </div>
            <!-- Add IP Mapping Form -->
            <div class="add-ip-form">
                <h3>Add a location name to the sign-in station's IP address.</h3>
                <form method="post" action="{{ url_for('admin.ip_management') }}">
                    {{ add_ip_form.hidden_tag() }}
                    <div>
                        {{ add_ip_form.ip_address.label }}: 
                        {{ add_ip_form.ip_address(size=10, placeholder=user_ip) }}
                    </div>
                    <br>
                    <div>
                        {{ add_ip_form.location_name.label }}: 
                        {{ add_ip_form.location_name(size=10) }}
                    </div>
                    <br>
                    {{ add_ip_form.submit() }}
                </form>
            </div>

            <br>

            <!-- Delete IP Mapping Form -->
            <div class="delete-ip-form">
                <h3>Delete Location Mapping</h3>
                <form method="post" action="{{ url_for('admin.remove_ip_mapping') }}">
                    {{ remove_ip_form.hidden_tag() }}
                    <select name="remove_ip_id">
                        {% for ip_mapping in ip_mappings %}
                        <option value="{{ ip_mapping.id }}">{{ ip_mapping.ip_address }} - {{ ip_mapping.location_name }}</option>
                        {% endfor %}
                    </select>
                    {{ remove_ip_form.remove_submit() }}
                </form>
            </div>

            <br><br><br>

            <!-- Navigation Buttons -->
            <div class="button-container">
                <!-- Back Button -->
                <div>
                    <a href="{{ url_for('admin.admin_dashboard') }}" class="button">Back</a>
                </div>
                <!-- Logout Button -->
                <div>
                    <a href="{{ url_for('auth.logout') }}" class="buttonsignout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
