<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-header">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert" id="flash-message">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <div class="dashboard-header-signin">
                <h2>{{ lab_location_name }} Sign In / Out</h2>
            </div>
            <div class="content-container">
                <!-- L-number Form -->
                <form id="landing-form" method="post" action="{{ url_for('main.landing') }}">
                    {{ form.hidden_tag() }}
                    <h3>
                        <br>
                        L - {{ form.l_number(size=7, placeholder="00000000", autofocus=true) }}
                        {% if form.l_number.errors %}
                            <div class="error">{{ form.l_number.errors[0] }}</div>
                        {% endif %}
                    </h3>
                    <button type="submit" class="button">Submit</button>
                </form>
            </div>
            <br>
            {% if lab_location %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="lab-message">
                            {{ message.content|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            <div class="bottomstats">
                <span id="sign-in-count" data-lab-id="{{ lab_id }}">Loading...</span>
                <br>
                <a href="{{ url_for('main.statistics', lab_id=lab_id) }}">View Statistics</a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            function updateSignedInCount() {
                var labId = $('#sign-in-count').data('lab-id'); // Correct the case to match the data attribute
                if (labId && labId !== 'None') {  // Check if labId is not null, undefined, or 'None'
                    $.ajax({
                        url: '/current_sign_ins/' + labId,
                        type: 'GET',
                        dataType: 'json',
                        success: function(response) {
                            $('#sign-in-count').text(response.count + ' users signed in');
                        },
                        error: function() {
                            $('#sign-in-count').text('Error getting users');
                        }
                    });
                } else {
                    console.error('Invalid lab ID');
                    $('#sign-in-count').text('Invalid lab ID');
                }
            }
            updateSignedInCount();
        });

    </script>
    <script>
        // Handle 'Enter' key for form submission
        document.getElementById('l_number').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById('landing-form').submit();
            }
        });

        // existing script content
    </script>
    <script>
        window.onload = function() {
          setTimeout(function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
              flashMessage.style.opacity = '0';
              setTimeout(function() { flashMessage.style.display = 'none'; }, 500); // To sync with CSS transition
            }
          }, 5000); // 5000 milliseconds = 5 seconds
        };
      </script>
</body>
</html>
