<!DOCTYPE html>
<html>
<head>
    <title>Query Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#term_date_range').change(function() {
                var isTermDateSelected = $(this).val() !== '0';
                console.log("Term date selected: " + isTermDateSelected); // This should log true or false to the console when you change the selection

                $('#start_date').prop('required', !isTermDateSelected);
                $('#end_date').prop('required', !isTermDateSelected);
            });
        });
    </script>
</head>
<body>
    <div class="dashboard-container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="dashboard-header">
            <h2>Query Selection</h2>

            <form method="post"><br><br>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.start_date.label }} {{ form.start_date(class_='date-input') }}
                    {% for error in form.start_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.end_date.label }} {{ form.end_date(class_='date-input') }}
                    {% for error in form.end_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.term_date_range.label }} {{ form.term_date_range }}
                    {% for error in form.term_date_range.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div>
                    <br>{{ form.submit }}
                </div>
                <br>
                <div class="form-group">
                    {% if csv_filename %}
                    <!-- Ensure the route and filename are correctly referenced -->
                    <a href="{{ url_for('admin.download_csv', filename=csv_filename) }}" class="button" download>Download CSV</a>
                    {% endif %}
                </div>
            </form>
            <br>

            <br><br><br>
            <div class="button-container">
                <!-- Back Button -->
                <a href="{{ url_for('admin.admin_dashboard') }}" class="button">Back</a>
                <!-- Logout Button -->
                <div>
                    <form action="{{ url_for('auth.logout') }}" method="post">
                        {{ logout_form.hidden_tag() }}
                        <button type="submit" class="buttonsignout">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
