<!DOCTYPE html>
<html lang="en">
<head>
    <title>Query Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        var termDates = {
            {% for term_date in term_dates %}
            "{{ term_date.id }}": {
                "start": "{{ term_date.start_date.strftime('%Y-%m-%d') }}",
                "end": "{{ term_date.end_date.strftime('%Y-%m-%d') }}"
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        };

        $('#term_date_range').change(function() {
            var selectedTermId = $(this).val();
            var isTermDateSelected = selectedTermId !== '0';
            console.log("Term date selected: " + isTermDateSelected);

            if (isTermDateSelected && termDates[selectedTermId]) {
                $('#start_date').val(termDates[selectedTermId].start);
                $('#end_date').val(termDates[selectedTermId].end);
            } else {
                $('#start_date').val('');
                $('#end_date').val('');
            }

            $('#start_date').prop('required', !isTermDateSelected);
            $('#end_date').prop('required', !isTermDateSelected);
        });
    });
    </script>
</head>
<body>
    <div class="dashboard-container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="dashboard-header">
            <div class="dashboard-header-signin">
                <h2>Query Selection</h2>
            </div>
            <form method="post"><br><br>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.start_date.label }} {{ form.start_date(class_='date-input') }}
                    {% for error in form.start_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.end_date.label }} {{ form.end_date(class_='date-input') }}
                    {% for error in form.end_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.term_date_range.label }} {{ form.term_date_range }}
                    {% for error in form.term_date_range.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                <!-- Inside the form in query_selection.html -->
                <div class="form-group">
                    {{ form.location_name.label }} {{ form.location_name }}
                    {% for error in form.location_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                    <br>{{ form.submit }}
                </div>
                <br>
                <div class="form-group">
                    {% if csv_filename %}
                    <!-- Ensure the route and filename are correctly referenced -->
                    <a href="{{ url_for('admin.download_csv', filename=csv_filename) }}" class="button" download>Download CSV</a>
                    {% endif %}
                </div>
            </form>
            <br>

            <br><br><br>
            <div class="button-container">
                <!-- Back Button -->
                <div>
                    <a href="{{ url_for('admin.admin_dashboard') }}" class="button">Back</a>
                </div>
                <!-- Logout Button -->
                <div>
                    <form action="{{ url_for('auth.logout') }}" method="post">
                        {{ logout_form.hidden_tag() }}
                        <button type="submit" class="buttonsignout">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
