<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="dashboard-container">
        <!-- Add this part to display flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Add Set Message Form -->
        <div class="dashboard-header">
            <h2>Set Landing Message</h2>
            <div class="add-ip-form">
                <h3>Add Landing Message</h3>
            <!-- set_message.html -->
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.content(rows=4, title="Allowed HTML tags: a, img, p, br, strong, em, ul, li, ol. For links, use 'href', 'title', 'target', 'rel'. For images, use 'src', 'alt', 'width', 'height'.") }}
                        {% for error in form.content.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.submit() }}
                    </div>
                </form>
                <br><br>
                <h3>Delete Landing Message</h3>
                <!-- Display existing messages -->
                {% for message in existing_messages %}
                <div class="existing-message">
                    <p>{{ message.content }}</p>
                    <!-- Delete button form for each message -->
                    <form action="{{ url_for('admin.delete_message', message_id=message.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                    </form>
                </div>
                {% endfor %}
            </div>
            <br><br><br>
            <div class="button-container">
                <!-- Back Button -->
                <a href="{{ url_for('admin.admin_dashboard') }}" class="button">Back</a>
                <!-- Logout Button -->
                <div>
                    <form action="{{ url_for('auth.logout') }}" method="post">
                        {{ logout_form.hidden_tag() }}
                        <button type="submit" class="buttonsignout">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>