<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-header">
            <div class="dashboard-header-signin">
                <h2>Sign In</h2>
            </div>
            <br><br>
            <!-- Sign-In Form -->
            <div class="form-control-signin">
                <form method="post" action="{{ url_for('main.sign_in') }}" class="sign-in-form" id="sign-in-form-id">
                    {{ form.hidden_tag() }}

                    <!-- User ID Field -->
                    <div class="form-group">
                        {{ form.l_number(size=7, position=center) }}
                        {% if form.l_number.errors %}
                            <div class="error">{{ form.l_number.errors[0] }}</div>
                        {% endif %}
                    </div>

                    <!-- Lab Location Display -->
                    <div class="form-group">
                        <div class="lab-location">{{ lab_location_name }}</div>
                    </div>

                    <!-- Class Selection Radio Buttons -->
                    <div class="form-group">
                        <label>Choose a class:</label>
                        {% for subfield in form.class_selected %}
                            <div class="radio">
                                {{ subfield }} {{ subfield.label }}
                            </div>
                        {% endfor %}
                        {% if form.class_selected.errors %}
                            <div class="error">{{ form.class_selected.errors[0] }}</div>
                        {% endif %}
                    </div>
                </form>
            </div>
            <!-- Flash Messages -->
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            <!-- Navigation and Sign In Buttons -->
            <div class="button-container">
                <div>
                    <a href="{{ url_for('main.landing') }}" class="button">Back</a>
                </div>
                <div>
                    <input type="submit" value="Sign In" class="buttonsignin" form="sign-in-form-id" autofocus=true>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
