<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('main.landing') }}";
        }, 15000); // Redirect after 15 seconds
    </script>
</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-header">
            <h3>Signing out ...</h3>
        </div>
        <div>
            <div><br><br>
                Enter a comment or continue.
            </div><br><br>
            <form method="post">
                {{ form.hidden_tag() }}
                <input type="hidden" name="l_number" value="{{ request.args.get('l_number') }}">
                <label for="comment">{{ form.comment.label.text }}</label> <!-- Assuming you want to show the label -->
                {{ form.comment(size=32, autofocus=true) }}
                <br><br><br><br><br>
                <div class="button-container">
                    <input type="submit" class="btn btn-primary" value="Comment">
                    <!-- Skip Comment Link styled as a button -->
                    <a href="{{ url_for('main.landing') }}" class="button">Continue</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
