<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <script>
        function updateDates() {
            var selectedTermId = document.getElementById("termToDelete").value;
            var dates = selectedTermId.split("-");
            if(dates.length === 2) {
                document.getElementById("start_date_display").textContent = dates[0];
                document.getElementById("end_date_display").textContent = dates[1];
            } else {
                document.getElementById("start_date_display").textContent = "";
                document.getElementById("end_date_display").textContent = "";
            }
        }
    </script>
<body>
    <div class="dashboard-container">
        <div class="dashboard-header">
            <div class="dashboard-header-signin">
                <h2>Term Dates Management</h2>
            </div>
            <br>
            <h3>Add Term Date</h3>
            <form action="{{ url_for('admin.term_dates_management') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.start_date.label }}
                    {{ form.start_date }}
                    {% if form.start_date.errors %}
                        <span class="error">{{ form.start_date.errors[0] }}</span>
                    {% endif %}
                    {{ form.end_date.label }}
                    {{ form.end_date }}
                    {% if form.end_date.errors %}
                        <span class="error">{{ form.end_date.errors[0] }}</span>
                    {% endif %}
                </div>
                <!-- Use 'onclick' event for the confirmation prompt -->
                <p><input type="submit" value="Submit"></p>
            </form>

            <!-- List existing term dates -->
            <table>
                <h3>Delete Term Date</h3>
                <!-- Dropdown for selecting term date to delete -->
                <form action="{{ url_for('admin.delete_term_date') }}" method="post">
                    {{ logout_form.hidden_tag() }}
                    <select name="term_date_id" id="term_date_id">
                        {% for term_date in term_dates %}
                        <option value="{{ term_date.id }}">{{ term_date.term_name }}: {{ term_date.start_date.strftime('%Y-%m-%d') }} to {{ term_date.end_date.strftime('%Y-%m-%d') }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" style="background-color: #e01010;" value="Delete" onclick="return confirm('Are you sure?');">
                </form>
            </table>
            <br><br><br>
            <div class="button-container">
                <div>
                    <!-- Back Button -->
                    <a href="{{ url_for('admin.admin_dashboard') }}" class="button">Back</a>
                </div>
                <div>
                    <form action="{{ url_for('admin.upload_term_dates_csv') }}" method="post" enctype="multipart/form-data">
                        {{ upload_csv_form.csrf_token }}  <!-- Include CSRF token -->
                        {{ upload_csv_form.csv_file }}
                        {{ upload_csv_form.submit }}
                    </form>
                </div>
                    <!-- Logout Button -->
                <div>
                    <form action="{{ url_for('auth.logout') }}" method="post">
                        {{ logout_form.hidden_tag() }}
                        <button type="submit" class="buttonsignout">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
